.product-page {
  padding: 48px 0 44px;

  @include r($desktop) {
    padding-bottom: 30px;
  }

  @include r($sm) {
    padding-top: 30px;
    padding-bottom: 10px;
  }

  &__inner {
    display: flex;
    align-items: center;

    @include r($desktop) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__content {
    max-width: 630px;
    width: 100%;

    @include r($desktop) {
      max-width: 900px;
      margin: 0 auto;
    }
  }

  &__title {
    font-size: 32px;
    font-weight: $fw-600;
    font-family: $ruda;
    margin-bottom: 18px;
    letter-spacing: 0.03em;
    line-height: 1.2;

    &--adaptive {
      display: none;

    }

    @include r($desktop) {
      font-size: 28px;
      margin-bottom: 10px;
    }

    @include r($sm) {
      font-size: 26px;
      display: none;

      &--adaptive {
        display: block;
        margin-bottom: 30px;
      }
    }
  }

  &__badges {
    display: inline-block;
    font-size: 16px;
    padding: 6px 12px;

    &:not(:last-child) {
      margin-bottom: 18px;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    @include r($desktop) {
      margin-bottom: 26px;
    }

    @include r($sm) {
      flex-wrap: wrap;
    }
  }

  &__code {
    padding: 3px 5px;
    background-color: $silver100;
    border-radius: 3px;
    line-height: 1.2;
    margin-right: 10px;

    @include r($sm) {
      font-size: 14px;
    }
  }

  &__status {
    font-size: 18px;
    margin-bottom: 0;
    margin-left: auto;

    @include r($sm) {
      padding-top: 18px;
      font-size: 16px;
      width: 100%;
    }
  }

  &__prices {
    display: flex;
    margin-bottom: 60px;
    align-items: flex-end;

    @include r($desktop) {
      margin-bottom: 29px;
    }
  }

  &__price {
    font-size: 30px;
    font-weight: $fw-700;
    color: $green400;
    line-height: 1;
    letter-spacing: 0.03em;

    &--old {
      position: relative;
      color: $silver600;
      font-size: 20px;
      margin-right: 21px;

      &::before {
        @extend %absolute-pseudo;
        width: 100%;
        height: 2px;
        background-color: $silver600;
        transform: rotate(-11deg);
        bottom: 10px;
      }

      @include r($sm) {
        font-size: 20px;
        margin-right: 12px;
      }
    }

    @include r($sm) {
      font-size: 26px;
    }
  }

  &__form {
    display: flex;
    margin-bottom: 32px;
  }

  &__number {
    display: flex;
    margin-right: 18px;
    max-width: 158px;
    width: 100%;
    position: relative;

    @include r($phone) {
      max-width: 140px;
    }

    .jq-number {
      &__field {
        background-color: rgba($green400, 0.1);

        input {
          text-align: center;
          font-size: 20px;
          line-height: 1;
          letter-spacing: 0.03em;
          padding: 9px 48px;
        }
      }

      &__spin {
        position: absolute;
        width: 44px;
        height: 44px;
        background-color: $green400;
        cursor: pointer;

        &::before,
        &::after {
          @extend %absolute-pseudo;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 30px;
          height: 3px;
          background-color: $white;
          border-radius: 3px;
        }
      }

      &__spin.minus {
        left: 0;
        border-radius: 3px 0 0 3px;
      }

      &__spin.plus {
        right: 0;
        border-radius: 0 3px 3px 0;

        &::after {
          height: 30px;
          width: 3px;
        }
      }
    }
  }

  &__btn {
    text-transform: uppercase;
    position: relative;
    padding: 14px 12px 14px 49px;
    font-size: 16px;
    line-height: 1;
    display: flex;
    align-items: center;

    &::before {
      @extend %absolute-pseudo;
      @extend %background-image;
      @extend %absolute-top-trasform;
      background-image: url('../images/icons/icon-basket.svg');
      left: 12px;
      width: 24px;
      height: 23px;
    }

    @include r($desktop) {
      padding-left: 44px;
    }

    @include r($sm) {
      font-size: 0;
      height: 44px;
      width: 48px;
      padding: 0;

      &::before {
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__favourite {
    margin-left: auto;
    line-height: 1;
    transition: box-shadow 0.3s;
    border-radius: 3px;

    &:focus {
      box-shadow: 0 0 0 3px $green200;
    }
  }

  &__icon {
    width: 44px;
    height: 39px;
    fill: $silver600;
    transition: fill 0.3s, opacity 0.3s;

    &:hover {
      fill: $yellow900;
    }

    &:active {
      fill: rgba($yellow900, 0.5);
    }
  }

  &__subtitle {
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    font-family: $ruda;
    font-weight: $fw-600;
    padding-bottom: 18px;
    border-bottom: 1px solid $silver600;
  }

  &__list {
    margin: 18px 0;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.6;
    color: $dark500;

    @include r($phone) {
      margin-bottom: 14px;
    }
  }

  &__link {
    color: $green400;
    border-bottom: 1px solid transparent;
    transition: border 0.3s, color 0.3s;

    &:focus,
    &:hover {
      border-bottom-color: $green400;
    }

    &:active {
      color: rgba($green400, 0.7);
    }
  }
}