<section class="benefits">
  <h2 class="sr-only">Преимущества магазина</h2>
  <div class="container">
    <ul class="benefits__inner">
      <li class="benefits__item" style="background-image: url(images/icons/delivery.svg);">
        <h3 class="benefits__title">Бесплатная доставка</h3>
        <div class="benefits__text">
          <p>Для заказов на сумму от 500 ₽</p>
        </div>
      </li>
      <li class="benefits__item" style="background-image: url(images/icons/refund.svg);">
        <h3 class="benefits__title">Возврат товара</h3>
        <div class="benefits__text">
          <p>Если товары были испорчены</p>
        </div>
      </li>
      <li class="benefits__item" style="background-image: url(images/icons/support.svg);">
        <h3 class="benefits__title">Поддержка 24/7</h3>
        <div class="benefits__text">
          <p>Лучшие операторы</p>
        </div>
      </li>
    </ul>
  </div>
</section>