<footer class="footer">
  <div class="container">
    <a class="footer__logo logo" href="index.html">
      <img class="logo__img" src="images/icons/logo.svg" alt="фрешок" width="200" height="60">
    </a>
    <div class="footer__top">
      <form class="subscribe-form" action="#">
        <label class="subscribe-form__label" for="subscribe">Следите за нашими акциями</label>
        <div class="subscribe-form__inner">
          <input class="subscribe-form__field" id="subscribe" name="subscribe-email" type="email" placeholder="email@email.com" required>
          <button class="subscribe-form__btn btn" type="submit">Подписаться</button>
        </div>
      </form>
      <nav class="footer__navigation">
        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link" href="#">О нас</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Контакты</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Публичная оферта</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Оплата и доставка</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Вакансии</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Акции</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Отзывы</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Новости</a>
          </li>
        </ul>
      </nav>
      <address class="address">
        <ul class="address__communication">
          <li class="address__info">
            <a class="address__data" href="tel:+7907288365">Горячая линия +7 907 288 365</a>
          </li>
          <li class="address__info">
            <a class="address__data" href="#">Санкт-Петербург, Ул. Ленина, 1</a>
          </li>
        </ul>
        <ul class="socials">
          <li class="socials__item">
            <a class="socials__link" href="#" style="background-image: url('images/icons/icon-facebook.svg');"
              target="_blank">
              <span class="sr-only">Перейти в фейсбук</span>
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link" href="#" style="background-image: url('images/icons/icon-youtube.svg');"
              target="_blank">
              <span class="sr-only">Перейти в ютуб</span>
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link" href="#" style="background-image: url('images/icons/icon-telegram.svg');"
              target="_blank">
              <span class="sr-only">Перейти в телеграм</span>
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link" href="#" style="background-image: url('images/icons/icon-instagram.svg');"
              target="_blank">
              <span class="sr-only">Перейти в инстаграм</span>
            </a>
          </li>
        </ul>
      </address>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="footer__wrapper">
        <span class="footer__copy">© 2021 Фрешок</span>
        <ul class="cards">
          <li class="cards__item">
            <a class="cards__link" href="#" style="background-image: url('images/icons/icon-visa.svg');"
              target="_blank">
              <span class="sr-only">Visa card</span>
            </a>
          </li>
          <li class="cards__item">
            <a class="cards__link cards__link--small" href="#"
              style="background-image: url('images/icons/icon-mastercard.svg');" target="_blank">
              <span class="sr-only">Master card</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>