<header class="header">
  <nav class="menu-adaptive">
    <div class="menu-adaptive__top">
      <a class="menu-adaptive__logo" href="index.html">
        <img class="menu-adaptive__logo-img" src="images/icons/logo-mobile.svg" alt="логотип" width="200" height="60">
      </a>
      <button class="burger" type="button">
        <span class="burger__line"></span>
        <span class="sr-only">закрыть меню</span>
      </button>
    </div>
    <ul class="menu-adaptive__register">
      <li class="menu-adaptive__account">
        <a class="menu-adaptive__login" href="#">Вход</a>
      </li>
      <li class="menu-adaptive__account">
        <a class="menu-adaptive__login" href="#">Регистрация</a>
      </li>
    </ul>
    <a class="catalog__btn" href="#">
      <span class="catalog__line"></span>
      Каталог товаров
    </a>
    <address class="address">
      <ul class="address__communication">
        <li class="address__info">
          <a class="address__data address--phone" href="tel:+7907288365">+7 907 288 365</a>
        </li>
        <li class="address__info">
          <a class="address__data address--location" href="#">Санкт-Петербург, ул. Ленина, 1</a>
        </li>
      </ul>
      <ul class="socials">
        <li class="socials__item">
          <a class="socials__link" href="#" style="background-image: url('images/icons/icon-facebook.svg');"
            target="_blank">
            <span class="sr-only">Перейти в фейсбук</span>
          </a>
        </li>
        <li class="socials__item">
          <a class="socials__link" href="#" style="background-image: url('images/icons/icon-youtube.svg');"
            target="_blank">
            <span class="sr-only">Перейти в ютуб</span>
          </a>
        </li>
        <li class="socials__item">
          <a class="socials__link" href="#" style="background-image: url('images/icons/icon-telegram.svg');"
            target="_blank">
            <span class="sr-only">Перейти в телеграм</span>
          </a>
        </li>
        <li class="socials__item">
          <a class="socials__link" href="#" style="background-image: url('images/icons/icon-instagram.svg');"
            target="_blank">
            <span class="sr-only">Перейти в инстаграм</span>
          </a>
        </li>
      </ul>
    </address>
    <ul class="menu-adaptive__list">
      <li class="menu-adaptive__item">
        <a class="menu-adaptive__link" href="#">Доставка</a>
      </li>
      <li class="menu-adaptive__item">
        <a class="menu-adaptive__link" href="#">О Нас</a>
      </li>
      <li class="menu-adaptive__item">
        <a class="menu-adaptive__link" href="#">Новости</a>
      </li>
      <li class="menu-adaptive__item">
        <a class="menu-adaptive__link" href="#">Контакты</a>
      </li>
      <li class="menu-adaptive__item">
        <a class="menu-adaptive__link" href="#">Акции</a>
      </li>
      <li class="menu-adaptive__item">
        <a class="menu-adaptive__link" href="#">Вакансии</a>
      </li>
      <li class="menu-adaptive__item">
        <a class="menu-adaptive__link" href="#">Отзывы</a>
      </li>
      <li class="menu-adaptive__item">
        <a class="menu-adaptive__link" href="#">Публичная оферта</a>
      </li>
    </ul>
  </nav>
  <nav class="header__wrapper">
    <div class="header__top">
      <div class="container">
        <div class="header__inner">
          <button class="burger" type="button">
            <span class="burger__line"></span>
            <span class="sr-only">открыть меню</span>
          </button>
          <ul class="header__links">
            <li class="header__item">
              <a class="header__link header__link--address" href="#">
                Адрес и время доставки
              </a>
            </li>
            <li class="header__item">
              <a class="header__link header__link--phone" href="tel:+795955489">
                Горячая линия 24/7
              </a>
            </li>
          </ul>
          <ul class="menu">
            <li class="menu__item">
              <a class="menu__link" href="#">Доставка</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">О нас</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">Новости</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="header__content">
      <div class="container">
        <div class="header__box">
          <a class="header__logo logo" href="index.html">
            <img class="logo__img logo__img--adaptive" src="images/icons/logo-adaptive.svg" alt="логотип" width="36"
              height="40">
            <img class="logo__img" src="images/icons/logo.svg" alt="логотип" width="200" height="60">
          </a>
          <div class="catalog">
            <button class="catalog__btn" type="button">
              <span class="catalog__line"></span>
              Каталог продуктов</button>
            <ul class="catalog__list">
              <li class="catalog__item">
                <a class="catalog__link" href="shop.html">Овощи и фрукты</a>
              </li>
              <li class="catalog__item">
                <a class="catalog__link" href="shop.html">Бакалея</a>
              </li>
              <li class="catalog__item">
                <a class="catalog__link" href="shop.html">Молочные продукты</a>
              </li>
              <li class="catalog__item">
                <a class="catalog__link" href="shop.html">Хлеб</a>
              </li>
              <li class="catalog__item">
                <a class="catalog__link" href="shop.html">Мясо</a>
              </li>
              <li class="catalog__item">
                <a class="catalog__link" href="shop.html">Колбаса</a>
              </li>
              <li class="catalog__item">
                <a class="catalog__link" href="shop.html">Рыба</a>
              </li>
              <li class="catalog__item">
                <a class="catalog__link" href="shop.html">Алкоголь</a>
              </li>
              <li class="catalog__item">
                <a class="catalog__link" href="shop.html">Напитки</a>
              </li>
              <li class="catalog__item">
                <a class="catalog__link" href="#">Торты</a>
              </li>
              <li class="catalog__item">
                <a class="catalog__link" href="#">Мясо</a>
              </li>
              <li class="catalog__item">
                <a class="catalog__link" href="#">Чай, кофе</a>
              </li>
            </ul>
          </div>

          <form class="form-search" action="#">
            <label class="sr-only" for="search">Найти в магазине</label>
            <input class="form-search__input" type="search" name="search" id="search" placeholder="Найти в магазине..."
              required>
            <label class="sr-only" for="searchadapt"></label>
            <input class="form-search__input form-search__input--adaptive" type="search" name="searchadapt"
              id="searchadapt" placeholder="Я ищу..." required>
            <button class="btn btn--black" type="button">Поиск</button>
          </form>
          <ul class="navigation">
            <li class="navigation__item">
              <a class="navigation__link" href="#">
                <span class="sr-only">Перейти в личный кабинет</span>
                <svg class="navigation__svg">
                  <use xlink:href="images/sprite.svg#icon-user"></use>
                </svg>
              </a>
            </li>
            <li class="navigation__item navigation__item--search">
              <button class="navigation__link">
                <span class="sr-only">Поиск товаров</span>
                <svg class="navigation__svg">
                  <use xlink:href="images/sprite.svg#header-search-adaptive"></use>
                </svg>
              </button>
            </li>
            <li class="navigation__item">
              <a class="navigation__link" href="#">
                <span class="sr-only">Перейти в избранное</span>
                <svg class="navigation__svg">
                  <use xlink:href="images/sprite.svg#header-heart"></use>
                </svg>
                <span class="navigation__number">12</span>
              </a>
            </li>
            <li class="navigation__item">
              <button class="navigation__link navigation__link--basket" type="button">
                <span class="sr-only">Перейти в корзину</span>
                <svg class="navigation__svg">
                  <use xlink:href="images/sprite.svg#icon-basket"></use>
                </svg>
                <span class="navigation__number">12</span>
              </button>
            </li>
          </ul>
        </div>
      </div>
      @include('_basket.html')
    </div>
  </nav>
</header>