.brands {
  padding-bottom: 68px;

  @include r($tablet) {
    padding-bottom: 41px;
  }

  &__items {
    display: flex;
    text-align: center;
  }

  &__link {
    display: inline-block;
  }

  &__img {
    object-fit: contain;
    opacity: 0.5;
    transition: opacity 0.3s;

    @include r($tablet) {
      opacity: 1;
    }

    &:hover {
      opacity: 1;
    }
  }
}