.benefits {
  background-color: $silver100;

  &__inner {
    display: flex;
    justify-content: center;
    padding: 48px 0 29px;

    @include r($lg) {
      padding: 30px 0;
    }

    @include r($tablet) {
      flex-direction: column;
    }
  }

  &__item {
    @extend %background-image;
    max-width: 265px;
    width: 100%;
    padding-left: 78px;
    background-size: auto;
    background-position: left top;

    @include r($tablet) {
      max-width: 100%;
    }

    &:not(:last-child) {
      margin-right: 65px;

      @include r($tablet) {
        margin-right: 0;
        margin-bottom: 30px;
      }
    }
  }

  &__title {
    font-weight: $fw-600;
    font-size: 16px;
    margin-bottom: 7px;
  }

  &__text {
    font-size: 14px;
  }
}