.breadcrumbs {
  background-color: $silver100;
  padding: 24px 0;

  &__list {
    display: flex;
    line-height: 1.2;
    font-size: 14px;
  }

  &__item {
    position: relative;
    letter-spacing: 0.03em;
    padding-right: 11px;

    &:not(:last-child) {
      margin-right: 6px;

      &::after {
        @extend %absolute-pseudo;
        width: 6px;
        height: 10px;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('../images/sprite.svg#breadcrumbs-arrow');
        filter: invert(96%) sepia(0%) saturate(7045%) hue-rotate(22deg) brightness(87%) contrast(74%);
      }
    }
  }

  &__link {
    transition: color 0.3s, box-shadow 0.3s;
    border-radius: 3px;

    &:focus {
      box-shadow: 0 0 0 4px $green200;
    }

    &:hover {
      color: $green900;
    }

    &--disabled {
      cursor: auto;

      &:focus {
        box-shadow: none;
      }

      &:hover {
        color: inherit;
      }
    }
  }
}