.footer {
  background-color: $dark800;
  padding: 32px 0 24px;
  color: $white;
  font-size: 14px;

  @include r($lg) {
    padding: 24px 0;
  }

  @include r($phone) {
    text-align: center;
  }

  .logo__img {
    @include r($lg) {
      display: block;
    }
  }

  &__logo {
    margin-bottom: 23px;
    display: inline-block;
  }

  &__top {
    @extend %flex-between;
    padding-bottom: 30px;

    @include r($lg) {
      flex-direction: column;
      margin: 0 -15px;
      padding-bottom: 24px;
    }
  }

  &__navigation {
    @include r($lg) {
      border-bottom: 1px solid rgba($white, 0.1);
    }
  }

  &__list {
    column-count: 3;
    column-gap: 75px;
    column-width: 130px;

    @include r($lg) {
      padding: 24px 15px;
    }

    @include r($phone) {
      text-align: left;
      max-width: 244px;
      margin: 0 auto;
      column-count: 2;
      column-width: auto;
      column-gap: 110px;
      padding: 21px 0 9px;
    }
  }

  &__item {
    margin-bottom: 19px;

    @include r($phone) {
      margin-bottom: 12px;
      width: 130px;
    }
  }

  &__link {
    transition: color 0.3s, box-shadow 0.3s;
    border-radius: 3px;
    line-height: 1;
    display: inline-block;

    @include r($lg) {
      padding: 6px 0;
    }

    &:focus {
      box-shadow: 0 0 0 3px $white100;
    }

    &:hover,
    &:focus {
      color: $green900;
    }
  }

  &__bottom {
    padding-top: 23px;
    border-top: 1px solid rgba($white, 0.1);
  }

  &__wrapper {
    @extend %flex-between;
    align-items: center;

    @include r($phone) {
      flex-direction: column;
    }
  }

  &__copy {
    text-transform: uppercase;

    @include r($phone) {
      margin-top: 24px;
      order: 1;
    }
  }

  .address {
    @include r($lg) {
      order: -1;
      padding: 0 15px 24px;
      border-bottom: 1px solid rgba($white, 0.1);
      max-width: 100%;
    }

    &__info {
      @include r($lg) {
        margin-bottom: 17px;
      }
    }
  }

  .subscribe-form {
    @extend %flex-column;
    max-width: 306px;
    width: 100%;
    margin-right: 70px;

    @include r($lg) {
      order: 1;
      padding: 24px 15px 0;
      max-width: 100%;
      margin-right: 0;
    }

    @include r($phone) {
      text-align: left;
      max-width: 300px;
      align-self: center;
      padding: 24px 0 0;
    }

    &__label {
      line-height: 1;
      margin-bottom: 16px;
      letter-spacing: 0.03em;
    }

    &__inner {
      display: flex;

      @include r($phone) {
        justify-content: center;
      }
    }

    &__field {
      max-width: 181px;
      width: 100%;
      border-radius: 6px 0 0 6px;
      background-color: $white;
      padding: 12px 13px 12px 12px;
      color: $dark200;

      &::placeholder {
        transition: color 0.3s;
      }

      &:hover::placeholder {
        color: $green400;
      }
    }

    &__btn {
      border-radius: 0 6px 6px 0;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 16px;
      padding: 14px 16px;

      @include r($phone) {
        padding: 14px;
      }
    }
  }

  .socials {
    @include r($phone) {
      justify-content: center;
    }
  }

  .cards {
    display: flex;

    &__item:not(:last-child) {
      margin-right: 24px;
    }

    &__link {
      border-radius: 3px;
      width: 93px;
      height: 30px;
      transition: box-shadow 0.3s, opacity 0.3s, filter 0.3s;
      @extend %background-image;
      display: block;

      &:focus {
        box-shadow: 0 0 0 3px $white100;
      }

      &:hover {
        opacity: 0.7;
      }

      &:active {
        box-shadow: none;
        opacity: 1;
        filter: invert(20%) sepia(80%) saturate(100%) hue-rotate(41deg) brightness(104%) contrast(86%);
      }

      &--small {
        width: 49px;
      }
    }
  }
}