.reviews {
  margin-bottom: 44px;
  @include r($tablet){
    margin-bottom: 26px;
  }

  &__title {
    font-size: 18px;
    margin-bottom: 48px;
    font-family: $ruda;
    font-weight: $fw-600;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    @include r($lg){
      margin-bottom: 30px;
    }
  }

  &__list {
    margin-bottom: 48px;
    @include r($lg){
      margin-bottom: 30px;
    }
    @include r($sm){
      margin-bottom: 15px;
    }
  }

  &__item {
    border-bottom: 1px solid $silver600;
    &:not(:last-child){
      margin-bottom: 21px;
      @include r($sm){
        margin-bottom: 28px;
      }
    }
  }

  &__top {
    display: flex;
    margin-bottom: 26px;
    align-items: center;
    font-size: 14px;
    @include r($lg){
      margin-bottom: 18px;
    }
    @include r($sm){
      flex-wrap: wrap;
      margin-bottom: 12px;
    }
  }

  &__author {
    display: flex;
    align-items: center;
    @include r($sm){
      width: 100%;
      margin-bottom: 12px;
    }
  }

  &__img {
    object-fit: cover;
    margin-right: 24px;
  }

  &__name {
    display: block;
    font-weight: $fw-700;
  }

  &__text {
    p {
      margin-bottom: 24px;
      @include r($lg){
        margin-bottom: 18px !important;
      }
    }
  }

  .star {
    margin-left: auto;
    padding: 0;
    @include r($sm){
      margin-left: 0;
    }
  }
}